<footer class="footer">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4">

                <h3>
                    <i class="fa-solid fa-bolt"></i>
                    Rays Portal
                </h3>

                <p>
                    Secure, modern and scalable enterprise solutions
                    built for the future.
                </p>

            </div>


            <div class="col-lg-8 text-lg-end">

                <h5>Connect With Us</h5>

                <div class="social-icons">

                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>

                </div>

            </div>

        </div>

        <hr>

        <div class="footer-bottom">

            © 2026 Rays Technologies. All rights reserved.

        </div>

    </div>
</footer>